 /*-------------------------------------------------------------------------------------------------------*/
      /*CODE FOR FOOTER*/
      .footer{
        background: #000;
        color:#8a8a8a;
        font-size: 14px;
        padding:16px 0 20px;
        cursor:pointer;
        text-align: center;
    }
    .footer .f-title{
        padding: 20px 50px;
        color: #eee;
    }
    .container .f-desc a{
      font-size: 18px;
        text-decoration: none;
        color: #8a8a8a;;
    }
    .container .f-desc a:hover{
        color: rgb(134, 6, 6);
    }
    .container .f-desc li{
        padding: 5px 0;
        list-style-type: none;
        display: inline-block;
        padding: 0 15px;
    }
    .icon{
        width: 100%;
        clear: both;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .icon a{
      font-size: 24px;
        height: 60px;
        width: 60px;
        background: whitesmoke;
        border-radius: 50px;
       text-align: center;
        line-height: 60px;
        margin: 10px;
    }
    .icon a i{
        transition: all 0.3s linear;
    }
    .icon a i:hover{
       transform:scale(1.4);
    }
    .fa-facebook{
        color:#0097e6;
    }
    .fa-instagram{
        color:#e84393;
    }
    .fa-linkedin{
        color:#0097e6;
    }
    .fa-youtube{
        color:#e84118;
    }
    .footer hr{
        border: none;
        background: #b5b5b5;
        height: 1px;
        margin: 20px 0;
    }