body{
    background-image: linear-gradient(#c4fa00,#d606f1);
  }
  .para{
    font-size: x-large;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
      margin-top: 12%;
      background-color: rgba(0, 0, 0, 0.5);
      margin-left: 10%;
      margin-right: 10%;
      color: #e200ff;
    
  }
  .tagline h1{
    margin-top: 200px;
    font-size: 50px;
    text-align: center;
    color: #360730;
    font-family: cursive;
    background-color: rgba(232, 223, 223, 0.5);
  }
   .book-btn{
    /*background-image: linear-gradient(rgb(128, 129, 131),rgb(0, 0, 0));*/
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
  
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;}
  .btn{ display: flex;
    justify-content: center;
    align-items: center;
  margin-top: 20%;}
  .book-btn:hover{
    /*background-image: linear-gradient(rgb(0, 0, 0),rgb(128, 129, 131));*/
    background-image: linear-gradient(to left, #DA22FF 0%, #9733EE  51%, #DA22FF  50%);
    border: 3px solid black;
  }
  
  
  
  
    /* display navigation in big screen mode */
    @media (min-width: 944px){
      .nav li a { font-size: larger;
          display: block;
          color: rgb(255, 255, 255);
          text-align: center;
          padding: 14px 30px;
          text-decoration: none;}
      .nav .logo{
              float: left;
             }
      .nav li {
                  float:right;
          }
  }
  /* display navigation in tab and mobile mode */
  @media (max-width: 944px){
      .nav li a {
           font-size: larger;
          display: block;
          color: rgb(255, 255, 255);
          text-align: center;
          padding: 13px 30px;
          text-decoration: none;}
      .nav .logo{
              float: left;
             }
       .nav .account{
           margin-top: 8%;
       }     
      .nav ul{ 
              width: 100%;
               
          }
  
      .row {/*margin: 0 -5px;*/
            margin-left: 11.5%;
          margin-bottom: 80%;}   
  }
   /*body{ 
   background-image: url(even2.jpg);
     background-size: cover;  
     size: 100%;
     background-color: rgba(0, 0, 0, 0.2); 
       
  
   }*/
   .background {
    
     margin: 0%;
     padding: 0%;
     /*background-image: url(img6.jpeg);*/
     background-image: url(even2.jpg);
    
     background-size:cover;
     size: 100%;
   }
   .background .background2{
   /* background-color:rgba(0, 0, 0, 0.5);*/
   }
  
  /* branch css*/
  .BranchHeading{
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: 40px;
      width: fit-content;
      color: #000102;
      background-size: cover;
      margin-left:  25%;
      margin-right: 25%;
     /* background-color: rgba(0, 0, 0, 0.3);
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center; 
      /* gradient font color
      background: -webkit-linear-gradient(rgb(7, 0, 0), rgb(1, 51, 117));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;*/
      
      /*text-align: center;*/
     
  }
  /* responsive branch heading text*/
  @media (max-width: 560px){
      .BranchHeading{
          font-size: 30px;;
      }
    
    
      .row {/*margin: 0 -5px;*/
        margin-left: 11.5%;
      margin-bottom: 100%;}
    }
  
      /* css for card view*/
      .column {
          float: left;
          width: 20%;
          padding: 0 10px;
        }
        
  
        .column h1{
            font-family:fantasy;
        }
        /* Remove extra left and right margins, due to padding in columns */
        
          
          /*display: flex;
    justify-content: center;
    align-items: center;*/
          
      
        
        /* Clear floats after the columns 
        .row:after {
          content: "";
          display: table;
          clear: both;
        }*/
        
        /* Style the counter cards */
        .card {
            border-radius: 15%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); /* this adds the "card" effect */
          padding: 16px;
          text-align: center;
          
          background-image: linear-gradient(rgb(72, 198, 248), rgb(248, 46, 204));
          
          
        }
        .cardimg{
          border-radius: 25px;
          max-width: 100%;
          height: auto;
        }
        .card p{
           font-size: 25px;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        /* Responsive columns - one column layout (vertical) on small screens */
        @media screen and (max-width: 1000px) {
          .column {
            width: 30%;
            display: block;
            margin-bottom: 20px;
            
    
  
          }
          .row {/*margin: 0 -5px;*/
            margin-left: 11.5%;
          margin-bottom: 80%;}
          
        }
  
        @media screen and (max-width: 500px) {
          .column {
            
            width: 50%;
            display: block;
            margin-bottom: 20px;
            }
  
            .row {/*margin: 0 -5px;*/
              margin-left: 11.5%;
            margin-bottom: 300%;}
      }
  
 