.horizontal-card {
    position: relative;
    display: flex;
    border: 1px solid gray;
    margin-bottom: 1rem;
  }
  .horizontal-card img {
    width: 270px;
    height: 168px;
    /*border-bottom: 30px solid orange;*/
  }
  .horizontal-card .horizontal-card-body {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  .horizontal-card .horizontal-card-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  .horizontal-card .horizontal-card-footer span {
    width: 200px;
    display: inline-block;
  }
  .horizontal-card .horizontal-card-footer a {
    margin-left: 10px;
  }